@font-face {
	font-family: "PlayfairDisplay";
	src: url(шрифты/PlayfairDisplay-VariableFont_wght.ttf);
}
.header {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 450px;
	position: absolute;
	margin-top: 8px;
	.img-logo {
		padding-left: 25%;
		height: 50%;
	}
	nav {
		height: 50%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		align-content: flex-end;
		width: 100%;
		ul {
			display: flex;
			li {
				font-family: "PlayfairDisplay";
				text-transform: uppercase;
				font-size: 18px;
				color: black;
				list-style-type: none;
				padding: 0 5px;
			}
		}
	}
}
.oneblock {
	padding-top: 20%;
	padding-bottom: 10%;
	width: 100%;
	height: 100%;
	display: flex;
	background: url("файлы/1 блок.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.about {
	width: 100%;
	height: 450px;
	background: #f1e9db;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	.about-container1 {
		width: 50%;
		height: 100%;
		margin-right: 5%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.title {
			font-size: 38px;
			border: 10px solid;
			padding: 20px;
		}
	}
	.about-container2 {
		width: 40%;
		height: 65%;
		padding-top: 30px;
		margin-right: 5%;
		display: flex;
		flex-direction: column;
		justify-content: normal;
		align-items: center;
		.description {
			text-align: center;
		}
		.description3 {
			width: 87%;
			margin: 0px 0px;
		}
	}
}
.about-container1 {
	width: 49%;
	height: 450px;
	background: url("файлы/img studio bg.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	align-items: center;
}
.about-container2 {
	width: 49%;
	align-items: center;
}
.galery {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	height: auto;
	.block {
		display: flex;
		flex-direction: column;
		justify-content: normal;
		align-items: center;
		width: calc(100% / 6);
		.photo {
			width: 100%;
			height: 100%;
		}
	}
}
.quote {
	width: 100%;
	height: 350px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background: url("файлы/livello 26.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	.mark {
		font-size: 100px;
		color: white;
		margin-left: 15%;
	}
	.mark2 {
		font-size: 100px;
		color: white;
		margin-right: 15%;
		transform: rotate(180deg);
	}
	.description {
		font-size: 20px;
		color: white;
		width: 50%;
	}
}
.team {
	width: 100%;
	height: 400px;
	background: #9b936f;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	.block {
		width: calc(100% / 3);
		height: 100%;
	}
	.team-block1 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.title {
			border: 10px solid;
			padding: 20px;
		}
	}
	.team-block3 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.team-preblock1 {
			display: flex;
			flex-direction: column;
			justify-content: normal;
			align-items: center;
			display: flex;
			flex-direction: column;
			justify-content: normal;
			align-items: center;
			width: 80%;
			.title {
				text-transform: uppercase;
			}
		}
		.team-preblock2 {
			display: flex;
			flex-direction: row;
			width: 75%;
			align-items: center;
			margin-top: 20px;
		}
	}
}
.team-block1 {
	background: url("файлы/img bg.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	align-items: center;
}
.team-block2 {
	width: 33%;
	height: 400px;
	background: url("файлы/img-13.jpg");
	background-repeat: no-repeat;
	justify-content: space-around;
	background-size: 100% 100%;
	align-items: center;
}
.team-block3 {
	width: 33%;
	align-items: center;
}
.team-preblock2 {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	height: auto;
}
.team2 {
	width: 100%;
	height: 400px;
	background: #f1e9db;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	.block {
		width: calc(100% / 3);
		height: 100%;
	}
	.team2-block2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.team-preblock1 {
			display: flex;
			width: 80%;
			flex-direction: column;
			justify-content: normal;
			align-items: center;
			.title {
				text-transform: uppercase;
			}
		}
		.team-preblock2 {
			margin-top: 20px;
			display: flex;
			flex-direction: row;
			width: 75%;
			align-items: center;
		}
	}
	.team2-block3 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.description {
			width: 80%;
			text-transform: uppercase;
			font-weight: bold;
		}
		.description2 {
			width: 80%;
			text-transform: uppercase;
			margin-top: -10px;
		}
		.field-container {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			width: 80%;
			.field {
				position: relative;
				width: 100%;
				padding: 5px;
				label {
					font-size: 18px;
					color: #f1e9db;
					position: absolute;
					left: 0%;
					top: 0%;
				}
				input {
					display: inline-block;
					width: 100%;
					height: 35px;
					background: #f1e9db;
					border: 1px solid #3c3c3c;
				}
			}
			#news-submit {
				display: inline-block;
				width: 100%;
				height: 35px;
				margin-top: 25px;
				color: white;
				background: #9b936f;
				border: none;
				text-transform: uppercase;
			}
		}
	}
}
#women {
	width: 100%;
	height: 100%;
}
.team2-block1 {
	background: url("файлы/img-12.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	align-items: center;
}
.team2-block2 {
	align-items: center;
	background: #9b936f;
	align-items: center;
	justify-content: center;
}
.team2-block3 {
	width: 33%;
}
.quote2 {
	width: 100%;
	height: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: url("файлы/img bg22.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	justify-content: center;
	.description {
		font-size: 20px;
		color: #f1e9db;
		width: 50%;
		font-style: italic;
	}
}
.pre-galery {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background: #9b936f;
	height: auto;
	.pre-galery-block {
		.title {
			font-size: 38px;
			margin-top: 18%;
			border: 10px solid;
			padding: 20px;
		}
		display: flex;
		flex-direction: column;
		justify-content: normal;
		align-items: center;
	}
	.block {
		display: flex;
		flex-direction: column;
		justify-content: normal;
		align-items: center;
		width: 20%;
		.photo {
			width: 100%;
			height: 100%;
		}
	}
}
.pre-galery-block {
	width: 39%;
	align-items: center;
}
.galery2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: auto;
	box-sizing: border-box;
	.block {
		width: 20%;
		.photo {
			width: 100%;
			height: 100%;
		}
	}
}
.contactus {
	width: 100%;
	height: 700px;
	background: #f1e9db;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	.contactus-block {
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.title {
			font-size: 30px;
			margin-top: 8%;
			border: 10px solid;
			padding: 20px;
		}
		.description {
			text-align: center;
		}
		.icons {
			margin-top: 100px;
		}
		.info {
			.info1 {
				.title1 {
					font-size: 19px;
					text-align: left;
					width: 70%;
					margin-bottom: 10px;
				}
				p {
					font-size: 15px;
					text-align: left;
					width: 70%;
					margin: 0px;
				}
				.special {
					font-size: 16px;
					font-weight: bold;
				}
			}
		}
		.contact {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			width: 100%;
			.field {
				position: relative;
				align-items: center;
				width: 70%;
				padding: 5px;
				label {
					font-size: 18px;
					color: #f1e9db;
					position: absolute;
					left: 0%;
					top: 0%;
				}
				input {
					display: inline-block;
					width: 70%;
					height: 35px;
					background: #f1e9db;
					border: 3px solid #3c3c3c;
					margin-top: 30px;
				}
			}
			.fieldbig {
				position: relative;
				align-items: center;
				width: 70%;
				padding: 5px;
				input {
					display: inline-block;
					width: 70%;
					height: 155px;
					background: #f1e9db;
					border: 3px solid #3c3c3c;
					margin-top: 30px;
				}
			}
			.button-container {
				position: relative;
				align-items: center;
				width: 70%;
				padding: 5px;
			}
			#submit {
				display: inline-block;
				width: 50%;
				height: 35px;
				margin-top: 25px;
				color: white;
				background: #9b936f;
				border: none;
				text-transform: uppercase;
			}
		}
	}
}
.contactus-block {
	width: 49%;
	align-items: center;
}
.icons {
	display: flex;
	width: 60%;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	height: auto;
}
.info {
	width: 80%;
	align-items: center;
	display: flex;
	flex-direction: row;
}
.info1 {
	width: 90%;
	text-align: left;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}
.contact {
	align-items: center;
}
.map {
	width: 100%;
	height: 700px;
	display: flex;
	background: url("файлы/maps.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 450px;
	justify-content: center;
	background: #a4a9ad;
	.img-logo {
		padding-left: 25%;
		height: 50%;
	}
	nav {
		height: 50%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		align-content: flex-end;
		width: 100%;
		ul {
			display: flex;
			li {
				font-family: "PlayfairDisplay";
				text-transform: uppercase;
				font-size: 13px;
				color: black;
				list-style-type: none;
				padding: 0 15px;
			}
		}
	}
	.footer-text {
		flex-direction: column;
		justify-content: normal;
		align-items: center;
		display: flex;
	}
}
.footer-text {
	justify-content: center;
	display: flex;
}@font-face {
	font-family: "PlayfairDisplay";
	src: url(шрифты/PlayfairDisplay-VariableFont_wght.ttf);
}
.header {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 450px;
	position: absolute;
	margin-top: 8px;
	.img-logo {
		padding-left: 25%;
		height: 50%;
	}
	nav {
		height: 50%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		align-content: flex-end;
		width: 100%;
		ul {
			display: flex;
			li {
				font-family: "PlayfairDisplay";
				text-transform: uppercase;
				font-size: 18px;
				color: black;
				list-style-type: none;
				padding: 0 5px;
			}
		}
	}
}
.oneblock {
	padding-top: 20%;
	padding-bottom: 10%;
	width: 100%;
	height: 100%;
	display: flex;
	background: url("файлы/1 блок.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.about {
	width: 100%;
	height: 450px;
	background: #f1e9db;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	.about-container1 {
		width: 50%;
		height: 100%;
		margin-right: 5%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.title {
			font-size: 38px;
			border: 10px solid;
			padding: 20px;
		}
	}
	.about-container2 {
		width: 40%;
		height: 65%;
		padding-top: 30px;
		margin-right: 5%;
		display: flex;
		flex-direction: column;
		justify-content: normal;
		align-items: center;
		.description {
			text-align: center;
		}
		.description3 {
			width: 87%;
			margin: 0px 0px;
		}
	}
}
.about-container1 {
	width: 49%;
	height: 450px;
	background: url("файлы/img studio bg.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	align-items: center;
}
.about-container2 {
	width: 49%;
	align-items: center;
}
.galery {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	height: auto;
	.block {
		display: flex;
		flex-direction: column;
		justify-content: normal;
		align-items: center;
		width: calc(100% / 6);
		.photo {
			width: 100%;
			height: 100%;
		}
	}
}
.quote {
	width: 100%;
	height: 350px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background: url("файлы/livello 26.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	.mark {
		font-size: 100px;
		color: white;
		margin-left: 15%;
	}
	.mark2 {
		font-size: 100px;
		color: white;
		margin-right: 15%;
		transform: rotate(180deg);
	}
	.description {
		font-size: 20px;
		color: white;
		width: 50%;
	}
}
.team {
	width: 100%;
	height: 400px;
	background: #9b936f;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	.block {
		width: calc(100% / 3);
		height: 100%;
	}
	.team-block1 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.title {
			border: 10px solid;
			padding: 20px;
		}
	}
	.team-block3 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.team-preblock1 {
			display: flex;
			flex-direction: column;
			justify-content: normal;
			align-items: center;
			display: flex;
			flex-direction: column;
			justify-content: normal;
			align-items: center;
			width: 80%;
			.title {
				text-transform: uppercase;
			}
		}
		.team-preblock2 {
			display: flex;
			flex-direction: row;
			width: 75%;
			align-items: center;
			margin-top: 20px;
		}
	}
}
.team-block1 {
	background: url("файлы/img bg.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	align-items: center;
}
.team-block2 {
	width: 33%;
	height: 400px;
	background: url("файлы/img-13.jpg");
	background-repeat: no-repeat;
	justify-content: space-around;
	background-size: 100% 100%;
	align-items: center;
}
.team-block3 {
	width: 33%;
	align-items: center;
}
.team-preblock2 {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	height: auto;
}
.team2 {
	width: 100%;
	height: 400px;
	background: #f1e9db;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	.block {
		width: calc(100% / 3);
		height: 100%;
	}
	.team2-block2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.team-preblock1 {
			display: flex;
			width: 80%;
			flex-direction: column;
			justify-content: normal;
			align-items: center;
			.title {
				text-transform: uppercase;
			}
		}
		.team-preblock2 {
			margin-top: 20px;
			display: flex;
			flex-direction: row;
			width: 75%;
			align-items: center;
		}
	}
	.team2-block3 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.description {
			width: 80%;
			text-transform: uppercase;
			font-weight: bold;
		}
		.description2 {
			width: 80%;
			text-transform: uppercase;
			margin-top: -10px;
		}
		.field-container {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			width: 80%;
			.field {
				position: relative;
				width: 100%;
				padding: 5px;
				label {
					font-size: 18px;
					color: #f1e9db;
					position: absolute;
					left: 0%;
					top: 0%;
				}
				input {
					display: inline-block;
					width: 100%;
					height: 35px;
					background: #f1e9db;
					border: 1px solid #3c3c3c;
				}
			}
			#news-submit {
				display: inline-block;
				width: 100%;
				height: 35px;
				margin-top: 25px;
				color: white;
				background: #9b936f;
				border: none;
				text-transform: uppercase;
			}
		}
	}
}
#women {
	width: 100%;
	height: 100%;
}
.team2-block1 {
	background: url("файлы/img-12.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	align-items: center;
}
.team2-block2 {
	align-items: center;
	background: #9b936f;
	align-items: center;
	justify-content: center;
}
.team2-block3 {
	width: 33%;
}
.quote2 {
	width: 100%;
	height: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: url("файлы/img bg22.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	justify-content: center;
	.description {
		font-size: 20px;
		color: #f1e9db;
		width: 50%;
		font-style: italic;
	}
}
.pre-galery {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background: #9b936f;
	height: auto;
	.pre-galery-block {
		.title {
			font-size: 38px;
			margin-top: 18%;
			border: 10px solid;
			padding: 20px;
		}
		display: flex;
		flex-direction: column;
		justify-content: normal;
		align-items: center;
	}
	.block {
		display: flex;
		flex-direction: column;
		justify-content: normal;
		align-items: center;
		width: 20%;
		.photo {
			width: 100%;
			height: 100%;
		}
	}
}
.pre-galery-block {
	width: 39%;
	align-items: center;
}
.galery2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: auto;
	box-sizing: border-box;
	.block {
		width: 20%;
		.photo {
			width: 100%;
			height: 100%;
		}
	}
}
.contactus {
	width: 100%;
	height: 700px;
	background: #f1e9db;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	.contactus-block {
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.title {
			font-size: 30px;
			margin-top: 8%;
			border: 10px solid;
			padding: 20px;
		}
		.description {
			text-align: center;
		}
		.icons {
			margin-top: 100px;
		}
		.info {
			.info1 {
				.title1 {
					font-size: 19px;
					text-align: left;
					width: 70%;
					margin-bottom: 10px;
				}
				p {
					font-size: 15px;
					text-align: left;
					width: 70%;
					margin: 0px;
				}
				.special {
					font-size: 16px;
					font-weight: bold;
				}
			}
		}
		.contact {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			width: 100%;
			.field {
				position: relative;
				align-items: center;
				width: 70%;
				padding: 5px;
				label {
					font-size: 18px;
					color: #f1e9db;
					position: absolute;
					left: 0%;
					top: 0%;
				}
				input {
					display: inline-block;
					width: 70%;
					height: 35px;
					background: #f1e9db;
					border: 3px solid #3c3c3c;
					margin-top: 30px;
				}
			}
			.fieldbig {
				position: relative;
				align-items: center;
				width: 70%;
				padding: 5px;
				input {
					display: inline-block;
					width: 70%;
					height: 155px;
					background: #f1e9db;
					border: 3px solid #3c3c3c;
					margin-top: 30px;
				}
			}
			.button-container {
				position: relative;
				align-items: center;
				width: 70%;
				padding: 5px;
			}
			#submit {
				display: inline-block;
				width: 50%;
				height: 35px;
				margin-top: 25px;
				color: white;
				background: #9b936f;
				border: none;
				text-transform: uppercase;
			}
		}
	}
}
.contactus-block {
	width: 49%;
	align-items: center;
}
.icons {
	display: flex;
	width: 60%;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	height: auto;
}
.info {
	width: 80%;
	align-items: center;
	display: flex;
	flex-direction: row;
}
.info1 {
	width: 90%;
	text-align: left;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}
.contact {
	align-items: center;
}
.map {
	width: 100%;
	height: 700px;
	display: flex;
	background: url("файлы/maps.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 450px;
	justify-content: center;
	background: #a4a9ad;
	.img-logo {
		padding-left: 25%;
		height: 50%;
	}
	nav {
		height: 50%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		align-content: flex-end;
		width: 100%;
		ul {
			display: flex;
			li {
				font-family: "PlayfairDisplay";
				text-transform: uppercase;
				font-size: 13px;
				color: black;
				list-style-type: none;
				padding: 0 15px;
			}
		}
	}
	.footer-text {
		flex-direction: column;
		justify-content: normal;
		align-items: center;
		display: flex;
	}
}
.footer-text {
	justify-content: center;
	display: flex;
}
